@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
}

header>nav {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
}

header>nav>h1 {
    color: rgba(255, 255, 255, 1);
}

header>nav>h1>span {
    background: linear-gradient(rgba(145, 0, 248, 1), rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));
    background-clip: text;
    color: transparent;
}

header>nav>ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
    font-weight: 500;
    line-height: 120%;
}

.btn {
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    text-align: center;
    width: 8.5rem;
    height: 2.75rem;
    border: none;
    font-weight: 600;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 16px 12px;
    color: rgba(255, 255, 255, 1);
}

header>hr {
    border: none;
    background-color: rgba(30, 29, 31, 0.862);
    height: 1px;
}

/* banner - style */

header .banner {
    background-image: url(./images/hero-bg.png);
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 760px;
}

#banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 101px;
    position: relative;
}

#banner-mic {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner-content>span {
    background-color: rgba(0, 255, 136, 1);
    width: 75px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 100px;
    text-align: center;
    position: absolute;
    top: 28%;
    left: 56%;
}

#banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 34.3rem;

}

#banner-text>h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 8px;
}

#banner-text>p {
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.6;
}

#banner-btn {
    display: flex;
    gap: 8px;
    margin-top: 24px;
}

.btn-2 {
    width: 12.6rem;
    gap: 8px;
}

.btn-3 {
    width: 9.2rem;
    height: 44px;
    background-color: transparent;
    border: 1px solid #00FF88;
    border-radius: 100px;
    color: #00FF88;
    font-weight: 600;
    line-height: 19px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    text-align: center;
}

/* banner-style end */

/* about-section */
#about-section {
    background-color: #1A0B2E;
    height: 646px;
    padding-top: 50px;
}

#about-section-content{
    max-width: 1200px;
    margin: 0 auto;
}

#about-section-content>h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#about-section-content>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
    text-align: center;
}

#about-section-content>hr {
    border: none;
    background-color: rgba(54, 52, 56, 0.862);
    height: 1px;
    margin-top: 80px;
}

#small-card {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    gap: 80px;
    text-align: center;
}

#small-card>div>h1 {
    color: rgba(0, 255, 136, 1);
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    padding-bottom: 8px;
}

#small-card>div>p {
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    font-weight: 400;
    line-height: 20px;
}
/* about section end */

