@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
}

header>nav {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
}

header>nav>h1{
    color: rgba(255, 255, 255, 1);
}

header>nav>h1>span{
    background: linear-gradient(rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    background-clip:text;
    color: transparent;
}

header>nav>ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
    font-weight: 500;
    line-height: 120%;
}

.btn {
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    text-align: center;
    width: 8.5rem;
    height: 2.75rem;
    border: none;
    font-weight: 600;
    line-height: 19px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 4px;
    padding: 16px 12px;
    color: rgba(255, 255, 255, 1);
}

header>hr{
    opacity: 0.1;  
}
