@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
}

header>nav {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
}

.brand-logo-1 {
    color: rgba(255, 255, 255, 1);
}

.brand-logo-2 {
    background: linear-gradient(rgba(145, 0, 248, 1), rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));
    background-clip: text;
    color: transparent;
}

header>nav>ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
    font-weight: 500;
    line-height: 120%;
}

.btn {
    border-radius: 100px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    text-align: center;
    width: 8.5rem;
    height: 2.75rem;
    border: none;
    font-weight: 600;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 16px 12px;
    color: rgba(255, 255, 255, 1);
}

#hamburger-menu {
    display: none;
}

header>hr {
    border: none;
    background-color: rgba(30, 29, 31, 0.862);
    height: 1px;
}

/* banner - style */

header .banner {
    background-image: url(./images/hero-bg.png);
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 760px;
}

#banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 101px;
    position: relative;
}

#banner-mic {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner-content>span {
    background-color: rgba(0, 255, 136, 1);
    width: 75px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 100px;
    text-align: center;
    position: absolute;
    top: 28%;
    left: 56%;
}

#banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 34.3rem;

}

#banner-text>h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 8px;
}

#banner-text>p {
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.6;
}

#banner-btn {
    display: flex;
    gap: 8px;
    margin-top: 24px;
}

.btn-2 {
    width: 12.6rem;
    gap: 8px;
}

.btn-3 {
    width: 9.2rem;
    height: 44px;
    background-color: transparent;
    border: 1px solid #00FF88;
    border-radius: 100px;
    color: #00FF88;
    font-weight: 600;
    line-height: 19px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    text-align: center;
}

/* banner-style end */

/* about-section */
#about-section {
    background-color: #1A0B2E;
    height: 646px;
    padding-top: 50px;
}

#about-section-content {
    max-width: 1200px;
    margin: 0 auto;
}

#about-section-content>h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#about-section-content>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
    text-align: center;
}

#about-section-content>hr {
    border: none;
    background-color: rgba(54, 52, 56, 0.862);
    height: 1px;
    margin-top: 80px;
}

#small-card {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    gap: 80px;
    text-align: center;
}

#small-card>div>h1 {
    color: rgba(0, 255, 136, 1);
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    padding-bottom: 8px;
}

#small-card>div>p {
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    font-weight: 400;
    line-height: 20px;
}

/* about section end */

/* brand-details */
#brand-details-container {
    background-color: rgba(35, 14, 61, 1);
}

#brand-details-container>h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgba(255, 255, 255, 1);
    padding-top: 120px;
}

.brand-details-card-1 {
    grid-area: audio;

}

.brand-details-card-2 {
    grid-area: mobile;
}

.brand-details-card-3 {
    grid-area: global;
}

.brand-details-card-4 {
    grid-area: exclusive;
}

.brand-details-card-5 {
    grid-area: rich;
}


.brand-details {
    display: grid;
    gap: 30px;
    grid-template-areas:
        "audio        mobile      mobile"
        "audio        global      global"
        "exclusive    exclusive   rich"
    ;
    max-width: 1200px;
    margin: 2.5rem 12.5rem 0 12.5rem;
    padding-bottom: 7.5rem;
}

.brand-card {
    border: none;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
}

.brand-card>h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    padding-bottom: 16px;
    padding-top: 16px;
    color: rgba(255, 255, 255, 1);
}

.brand-card>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
}

/* brand-details end */

#features {
    background: rgba(26, 11, 46, 1);
    padding-bottom: 120px;
}

#features>h1 {
    text-align: center;
    padding: 120px 0 40px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: rgba(255, 255, 255, 1);
}

#features-card-container {
    max-width: 1200px;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.features-card {
    width: 23.75rem;
    height: 27.5rem;
    background: rgba(37, 13, 68, 1);
    border: none;
    border-radius: 24px;
    margin-bottom: 120px;
}

.features-card-text {
    padding: 24px;
}

.features-card-text>h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(255, 255, 255, 1);
}

.features-card-text>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
    padding-top: 12px;
}

.features-card-text>div {
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 255, 136, 1);
    display: flex;
    align-items: center;
    gap: 6px;
    height: 20px;
    padding-top: 14px;
}

/* featured episodes style end */

#host-section>h1 {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

#host-container {
    display: flex;
    background: rgba(53, 17, 101, 0.4);
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 40px;
}

#host-text {
    margin: auto 24px;
}

#host-text>h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

#host-text>p {
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
    margin-bottom: 16px;
}

.host-images {
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 100px;
    padding: 10px;
    margin-right: 8px;
}

/* navbar  */

footer {
    background-image: url(images/footer-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-brand {
    font-size: 45px;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 20px;
}

.footer-logo-container {
    display: flex;
    gap: 80px;
    margin: 34.5px 0 34.5px 0;
}

.footer-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
}

.footer-logo {
    display: flex;
}

.copyright {
    font-weight: 300;
    opacity: 0.4;
}

.footer-logo>img {
    margin-right: 8px;
}


/* responsibe-design */
@media screen and (max-width:576px) {
    header>nav>ul>li {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    #hamburger-menu {
        display: block;
    }




}